.logo {
  font-size: xx-large;
  padding-left: 15px;
}
li {
  text-decoration: none;
}
.navbar-item {
  text-decoration: none;
  font-size: medium;
}
.flex-column-nav {
  display: grid;
  grid-auto-flow: column;
  margin-top: 25px;
}
.link {
  text-decoration: none;
  color: black;
}
